<!-- Hidden cute heading, so when we scroll here on mobile it shows up -->
<h3 style="opacity: 0;" aria-hidden>Meow!</h3>
<img src="{{ "./assets/images/app-home.png" | relative_url }}" alt="preview-home-page" style="width:100%; border-radius: 15px;">
<figcaption>[1] App home page preview.</figcaption>
<br>
<img src="{{ "./assets/images/app-dashboard.png" | relative_url }}" alt="preview-dashboard" style="width:100%; border-radius: 15px;">
<figcaption>[2] App dashboard page preview.</figcaption>
<br>
<img src="{{ "./assets/images/landing-page.jpg" | relative_url }}" alt="preview-home-page" style="width:100%; border-radius: 15px;">
<figcaption>[3] Landing page when you open the app for the first time. Each calendars are accesible via a 4-digit code.</figcaption>
<br>
<img src="{{ "./assets/images/toolkitty-team-at-boarc.jpg" | relative_url }}" alt="preview-home-page" style="width:100%; border-radius: 15px;">
<figcaption>[4] The Toolkitty team at BOARC, Bidston, UK in March 2025</figcaption>
