@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('./fonts/AtkinsonHyperlegibleNext-Medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('./fonts/AtkinsonHyperlegibleNext-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url('./fonts/PixelifySans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url('./fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --black: #171717;
  --blue: #BACEFF;
  --green: #b4ffb2;
  --purple: #c398ff;
  --yellow: #ffe20a;
  --white: #fff;
  --red: #FF9A9C;
}

* {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  color: var(--white);
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

p, ul {
  font-size: 2rem;
  font-weight: 400;
  color: var(--white);
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  line-height: 1.2;
  display: block;
}

p a {
  color: var(--green);
  border-bottom: 1px solid var(--green);
  text-decoration: none;
}

img {
  border: 1px solid var(--black);
}

ol {
  margin: 0;
  padding: 0 0 0 2.5em;
  list-style-type: decimal-leading-zero;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
  list-style-type: "⟡ ";
}

blockquote {
  margin: 0;
  padding: 0 0 0 2em;
}

hr {
  background-color: var(--white);
  border: 0;
  height: 1px;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

figcaption {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  font-family: "Pixelify Sans", sans-serif;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1;
  display: block;
}

figcaption a {
  text-decoration: underline;
  color: var(--green);
}

sup {
  vertical-align: top;
  font-size: 0.6em;
}

sup a {
  text-decoration: none;
}

#footnotes {
  font-size: 1.2rem;
  color: var(--white);
  font-family: "Ubuntu Mono";
  line-height: 1.2;
  letter-spacing: 1;
  margin-top: 3rem;
}

#footnotes ol {
  list-style-type: decimal;
}

#footnotes a {
  text-decoration: none;
  color: var(--red);
}

.logo {
  margin-top: 50px;
  width: 100%;
  max-width: 400px;
  border: 0;
}

.column-left {
  float: left;
  width: 75%;
  height: 100vh;
  overflow: scroll;
}

.column-right {
  background-color: var(--purple);
  float: left;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
  height: 100vh;
  overflow: scroll;
}

.card {
   padding: 5px;
   margin-top: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

.navigation {
  display: none;
  position: relative;
}

.navigation-visible {
  display: block;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.navigation li {
  color: var(--white);
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}

.navigation li:hover {
  text-decoration: underline;
}

.navigation li::before {
  content: "> ";
  display: inline-block;
  font-size: 20px;
  margin-top: 2px;
  margin-right: 10px;
  font-size: 1.5rem;
}

.navigation li a {
  color: var(--white);
  text-decoration: none;
}

.navigation-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  margin-right: 25px;
}

.header {
  border-radius: 25px;
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 10px;
  right: 25%;
  left: 0;
  user-select: none;
}

.header:hover {
  background-color: var(--purple);
}

.header p {
  font-size: 1.8rem;
  color: #fff;
  font-family: "Pixelify Sans", sans-serif;
  line-height: 1.2;
  display: block;
  margin: 0rem;
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red)
}

.blue {
  color: var(--blue)
}

.green {
  color: var(--green)
}

.yellow {
  color: var(--yellow)
}


/* Responsive layout - when the screen is less than 1024px wide, make the two
 * columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
  body {
    height: initial;
    overflow: auto;
  }

  .column-left,
  .column-right {
    float: initial;
    overflow: initial;
    height: initial;
    width: 100%;
  }

  .column-right {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .card {
    margin: 0 auto;
    max-width: 500px;
  }

  .header {
    right: 0;
  }
}
